strong {
    color: orangered;    
}

header {
    color: blue;
}

.h2--center, .p--center {
    display: flex;
    justify-content: center;
}


.section--center {
    display: flex;
    justify-content: center;
  }

/* Documento1 */

.tabla1__tr--underlined {
    border-bottom: 2px solid black;
  }
  
  .tabla1__th--rightBorder {
    border-right: 2px solid black;
  }
  
  .tabla1__td--Borders {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  
  .section__tabla1 {
    width: 300px;
    height: 300px;
    border-collapse: collapse;
  }

/* Documento2 */

  .section--font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .section__tabla2 {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
  }
  
  .thead__filaCabecera {
    background-color: red;
    height: 50px;
    border-bottom: 2px solid black;
  }
  .filaCabecera__th {
    width: 80px; 
    
  }
  .filaCabecera__th--thin {
    width: 30px;
  }
  
  .tbody__filaBody {
    height: 30px;
    text-align: center;
    vertical-align: middle;
    
  }
  
  .tbody__filaBody--acero {
    background-color: gray;
  }
  
  .tbody__filaBody--volador {
    background-color: rgb(101, 240, 193);
  }
  
  .tbody__filaBody--agua {
    background-color: blue;
  }
  
  .tbody__filaBody--hielo {
    background-color: aqua;
  }
  
  .tbody__filaBody--planta {
    background-color: green;
  }
  
  .tbody__filaBody--bicho {
    background-color: greenyellow;
  }
  
  .tbody__filaBody--electrico {
    background-color: yellow;
  }
  
  .tbody__filaBody--normal {
    background-color: blanchedalmond;
  }
  
  .tbody__filaBody--roca {
    background-color: rgb(202, 136, 55);
  }
  
  .tbody__filaBody--tierra {
    background-color: rgb(206, 113, 0);
  }
  
  .tbody__filaBody--fuego {
    background-color: orange;
  }
  
  .tbody__filaBody--lucha {
    background-color: rgb(252, 71, 39);
  }
  
  .tbody__filaBody--hada {
    background-color: pink;
  }
  
  .tbody__filaBody--psiquico {
    background-color: rgb(221, 71, 159);
  }
  
  .tbody__filaBody--veneno {
    background-color: rgb(131, 5, 103);
  }
  
  .tbody__filaBody--dragon {
    background-color: rgb(194, 117, 204);
  }
  
  .tbody__filaBody--fantasma {
    background-color: rgb(129, 42, 163);
  }
  
  .tbody__filaBody--siniestro {
    background-color: rgb(82, 32, 43);
  }