body {
    margin: 0;
}

.container {
    height: 100vh;
    background-color: black;
}

@media all and (max-width: 360px) {
    .container {
        background-color: pink;
    }
}

/* 

    Es buena practica tener separados los styles por cada tipo responsive
    EJ: stylesPortatil.css, stylesMoviles.css, etc...

*/