
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    height: 100vh;
    margin: 10px;
    padding: 10px;
    overflow: auto;

    background-color: rgb(226, 223, 223);
}

.divCabecera {
    height: 100px;
    margin: 10px;

    background-color: #FCF400;
}

.divCabecera div {
    display: flex;
    justify-content: center;
}

.divPrincipal {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 1 fracción, o 1 parte del TODO en el que está contenido */
    height: 100%;
    margin: 10px;

    background-color: #F5BC77;
}

.zonaNavegacion {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    

    background-color: #6bbef9;
}

.zonaNavegacion div {
    width: 1fr;
    min-height: 50px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;

    border-radius: 6px;

    background-color: #f5f14c;
}

.zonaNavegacion div:hover{
    background-color: #F5BC77;
}

.zonaContenido {
    grid-column: 2 / 5;
    grid-row: inherit;
    margin: 5px;
    padding: 5px;

    border-radius: 6px;
    border-top: 2px, solid, black;
    border-left: 2px, solid, black;

    background-color: #EDCBA6;
}

.zonaContenido div {
    margin: 5px;
    padding: 5px;
}

#iconos {
    grid-column: 2 / 3;
    grid-row: auto;
    font-size: 18px;
    font-weight: bold;
    text-align: unset;
}